/* release 2.0 */

/* -------------------------------------------------------
   Start of _base
   ------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: #fff;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
    display: block;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
p.text-center, .text-center p {
    margin-right: auto;
    margin-left: auto;
}
/** **/

.coc-secondary-3D {
    color: #4c4c4c !important;
}
.mb-sm {
    margin-bottom: 18px !important;
}
.mb-md {
  margin-bottom: 27px !important; }

.mb-lg {
  margin-bottom: 36px !important; }

.mb-xxl {
    margin-bottom: 72px !important;
}
.d-block {
    display: block !important;
}
.font-weight-semi-bold {
    font-weight: 600;
}
.row {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-4 {
    flex: 0 0 33.3333333333%;
    -webkit-box-flex: 0 0 33.3333333333%;
    -webkit-flex: 0 0 33.3333333333%;
    -moz-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
.col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  -webkit-box-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.content-container.ics-100 {
    border: 18px solid #0086a4;
    max-height: 620px;
}
.ics-100.content-container > div {
    border: 18px solid #5fc9df;
    background: none;
    padding-right: 15px;
    padding-left: 15px;
}
.ics-100 .detail-content-container {
    font-weight: 400;
    color: #333;
    margin-top: 36px;
}
.ics-100 .file-number {
    position: absolute;
    bottom: 8%;
    transform: rotate(-90deg);
    right: -21px;
    font-size: 0.9375rem;
}
.ics-100 .user-name {
    font-size: 28px;
}
.ics-100 .program-name, .ics-100 .agency-name {
    color: #1d5f71;
}
.ics-100 .program-name {
    font-size: 23px;
}

.ics-100 .agency-name {
    font-size: 18px;
}

.ics-100 .ics-heading {
    width: 45%;
    height: auto;
    margin-bottom: 18px;
}

.ics-100 .ics-text {
    width: 35%;
}
.ics-100 .main-details {
    text-align: center;
}
.ics-100 .main-details hr {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 18px;
    background-color: #c8102e;
    height: 2px;
    border: none;
}
.ics-100 .sub-details {
    align-items: center;
    padding-bottom: 18px;
}
.ics-100 .sub-details .date-details {
    text-align: left;
}
.ics-100 .sub-details .date-details p {
    padding-left: 18px;
    font-size: 14px;
}
.ics-100 .ics-logo {
    margin: 0 auto;
    width: 80%;
}
.ics-100 .alberta-logo {
    width: 50%;
    height: auto;
}
.ics-100 .logo-center {
    text-align: center;
}
.ics-100 .logo-right {
    text-align: right;
    padding-right: 18px;
}