/* release 2.0 */
/* -------------------------------------------------------
   Start of _base
   ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section, blockquote {
  display: block; }

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

p {
  font-size: 16px;
  line-height: 1.5;
  }

/** **/
.coc-secondary-3D{
  color: #4c4c4c !important;
}

.coc-secondary-9L {
    background-color: #ededee;
    color: #333
}

.mb-0 {
  margin-bottom: 0;
}

.mb-md {
  margin-bottom: 27px !important;
}

.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

.content-container{
    width: 100%;  
    min-width: 781px;
    min-height: 1000px;
    /*height:100vh;*/
    background-color: #FFFFFF;
    margin: auto;
    -webkit-print-color-adjust: exact;
}

.city-logo{
  margin-left: 36px;
/*  width: 217px;
  height: 103px;*/
  width:170px; 
  height:81px; 
}

.detail-content-container {
    font-weight: 400;
    color: #333;
    margin-top:54px;
}

.main-details, .footer .text{
  width: 50%;
  display: block;
  margin: 0 auto;
}

img.slogan {
  width: 100%;
  margin-bottom: 54px;
}

p {
  margin-bottom: 24px;
}

.signature {
  margin-top:  54px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.signature .col-4 {
  padding: 36px 36px 0 36px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.signature .col-4:first-child {
  padding-left: 15px;
}

.signature .col-4:last-child {
  padding-right: 15px;
}

.signature .media {
  position: relative;
  min-height: 90px;
}

.signature .media.tallest img {
  width: 50%; 
}

.signature img {
    position: absolute;
    bottom:  0;
    width: 100%;
    height: auto;
}

.signature .name{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(ribbons.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:  right;

}

.footer .text {
  padding: 18px 0;
}

.footer .text .large-text {
  color: #4b4f55;
  line-height: 1.2;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 800;
  text-transform: capitalize;
}

.footer .text .small-text {
  color: #c8102e;
  font-size:  18px;
  font-weight: 800;
  margin-bottom:0;

}

.file-number {
    position: absolute;
    bottom: 5%;
    transform: rotate(90deg);
    left: -21px;
    font-size: 0.9375rem;
}

@media print {
    html, body {
        height: 99%;    
    }
}