/* release 2.0 */
/* -------------------------------------------------------
   Start of _base
   ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section, blockquote {
  display: block; }

p {
  font-size: 1rem;
  line-height: 1.5;
  }

p.text-center,
.text-center p {
  margin-right: auto;
  margin-left: auto; }


/** **/
.coc-secondary-3D{
  color: #4c4c4c !important;
}
.mb-sm {
  margin-bottom: 18px !important;
}
.mb-md {
  margin-bottom: 27px !important;
}

.mb-xxl {
  margin-bottom: 72px !important;
}
.d-block {
  display: block !important;
}
.font-weight-semi-bold{
  font-weight: 600;
}

.content-container{
    width: 100%;  
    min-width: 781px;
    min-height: 1000px;
    height:100vh;
    background-color: #f6f6f6;
    margin: auto;
    background-position: bottom;
    background-image: url(bg-image.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-print-color-adjust: exact;
}

.city-logo{
  margin-left: 36px;
  /*width: 217px;
  height: 103px;*/
  width:170px; /* 144px */
  height:81px; /* 68px */
}

.detail-content-container{
    font-weight: 400;
    color: #333;
    margin-top:54px;
}

.signature,
.date-details {
    margin-left: 108px;
    margin-right: 108px;
}

/*.signature p{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 0.9375rem; 
}*/
.main-details {
    text-align: center;
}

.date-details{
    text-align: center;
}

h1 {
    color: #c8102e;
    font-size: 3.125rem;/*increase to 50px 2.8125rem 45px*/
    font-weight: 800;
    margin-bottom: 27px;
}

p {
  margin-bottom: 36px;
}

.text{
    font-size: 1rem;
}

.program-name{
    font-size: 1.4375rem;/*23px*/
    font-weight: 500;
}

.user-name{
    font-size: 2.25rem;/*2rem 32px*//*2.25rem 36px*/
    color: #000;
}

.signature{
  font-weight: 400;
}

.signature-image{
    width: 160px;
    height: auto;
}

.file-number {
    position: absolute;
    bottom: 8%;
    transform: rotate(-90deg);
    right: -21px;
    font-size: 0.9375rem;
}