<!--pattern library basic stylesheet-->
<link rel="stylesheet" href="/Core/13.sumtfile?IsInline=true" />
<div class="coc-pl">
    <div class="row">
        <div class="col-sm-12">
            <img class="mb-lg coc-logo-desktop" src="/Core/10.sumtfile" alt="City of Calgary" />
            <img class="mb-lg coc-logo-mobile" src="/Core/11.sumtfile" alt="City of Calgary" />
            <a class="cui btn-sm secondary-text exit-btn" href="/Broker/Public/FedLogOff.aspx?wtrealm=https%3a%2f%2fCALGARY.sumtotal.host%2fcore%2f&wreply=&whr=urn%3asamlp&HasLoggedOffFromRelyingParties=1">Exit </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="cui hero-banner-long-text edge-to-edge">
                    <div class="hero-media">
                        <img class="mobile-image" src="/Core/12.sumtfile" alt="">
                        <div class="background-image md bg-pos-x-center bg-pos-y-top" style="background-image: url( '/Core/12.sumtfile' );"></div>
                    </div>
                    <div class="hero-body row">
                        <div class="col-single-narrow">
                            <div class="hero-body-inner">
                                <h1 class="title sr-only">
                                    Welcome to myLearning
                                </h1>

                                <div class="row mb-lg">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-8 p-md">
                                        <h2 class="text-center">What are you looking for today?</h2>
                                        <a class="cui btn-md primary btn-fluid mb-sm" href="/Core/search">
                                            <span class="text">Search and register for courses</span>
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                </div>
                                <div class="row mb-lg coures-btn">
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-10 text-center">
                                        <h3>Your profile:</h3>
                                        <a class="cui btn-md utility-btn-solid" href="/Core/dash/learning">Upcoming learning activities</a>
                                        <a class="cui btn-md utility-btn-solid" href="/Core/pillarRedirect?relyingParty=LM&url=https:%2F%2FCALGARY.sumtotal.host%2Flearning%2Fapp%2Fmanagement%2FLMS_LearnerReports.aspx%3FUserMode%3D0%26Mode%3D1">Learning history</a>
                                        <a class="cui btn-md utility-btn-solid" href="/Core/person/resume ">Track skills & education</a>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>