/**
 The basic style only used on career builder (sum Total)
 **/
/* -------------------------------------------------------
   Start of _base
   ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, details, figcaption,
figure, footer, header, hgroup, mark, menu, meter, nav,
output, progress, section, summary, time, video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section, blockquote {
  display: block; }

button,
[role=button] {
  cursor: pointer; }
  button:focus,
  [role=button]:focus {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe;
    outline: 0; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

input,
button {
  margin: 0;
  padding: 0; }

input[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button; }

.form-row, .row-compact {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.375rem;
  margin-left: -0.375rem; }
  .form-row > .col, .row-compact > .col, .form-row > [class*="col-"], .row-compact > [class*="col-"] {
    padding-right: 0.375rem;
    padding-left: 0.375rem; }

.coc-pl {
  /* -------------------------------------------------------
   Start of _headings
   ------------------------------------------------------- */ }
  .coc-pl h1, .coc-pl .h1, .coc-pl h2, .coc-pl .h2, .coc-pl h3, .coc-pl .h3, .coc-pl h4, .coc-pl .h4, .coc-pl h5, .coc-pl .h5, .coc-pl h6, .coc-pl .h6 {
    font-weight: 400;
    line-height: 1.3;
    margin-top: 0; }
  .coc-pl .h1, .coc-pl .h2, .coc-pl .h3, .coc-pl .h4, .coc-pl .h5, .coc-pl .h6 {
    display: block; }
  .coc-pl h1, .coc-pl .h1 {
    font-size: 1.625rem;
    margin-bottom: 1.6875rem; }
    @media (min-width: 576px) {
      .coc-pl h1, .coc-pl .h1 {
        font-size: 2.25rem; } }
    @media (min-width: 768px) {
      .coc-pl h1, .coc-pl .h1 {
        font-size: 2.5rem; } }
    @media (min-width: 992px) {
      .coc-pl h1, .coc-pl .h1 {
        font-size: 2.8125rem;
        margin-bottom: 3.875rem; } }
  .coc-pl h2, .coc-pl .h2 {
    font-size: 1.4375rem;
    margin-bottom: 1.6875rem; }
    @media (min-width: 576px) {
      .coc-pl h2, .coc-pl .h2 {
        font-size: 1.75rem; } }
    @media (min-width: 768px) {
      .coc-pl h2, .coc-pl .h2 {
        font-size: 1.875rem; } }
    @media (min-width: 992px) {
      .coc-pl h2, .coc-pl .h2 {
        font-size: 2rem; } }
  .coc-pl h3, .coc-pl .h3 {
    font-size: 1.25rem;
    margin-bottom: 1.125rem; }
    @media (min-width: 576px) {
      .coc-pl h3, .coc-pl .h3 {
        font-size: 1.3125rem; } }
    @media (min-width: 768px) {
      .coc-pl h3, .coc-pl .h3 {
        font-size: 1.375rem; } }
    @media (min-width: 992px) {
      .coc-pl h3, .coc-pl .h3 {
        font-size: 1.4375rem; } }
  .coc-pl h4, .coc-pl .h4 {
    font-size: 1.1875rem;
    margin-bottom: 1.125rem; }
  .coc-pl h5, .coc-pl .h5, .coc-pl h6, .coc-pl .h6 {
    font-size: 1rem;
    margin-bottom: 0.75rem; }
  .coc-pl h5, .coc-pl .h5 {
    color: #4c4c4c; }
  .coc-pl h6, .coc-pl .h6 {
    color: #666; }
  .coc-pl article h1, .coc-pl article .h1, .coc-pl article h2, .coc-pl article .h2, .coc-pl article h3, .coc-pl article .h3, .coc-pl article h4, .coc-pl article .h4, .coc-pl article h5, .coc-pl article .h5, .coc-pl article h6, .coc-pl article .h6 {
    max-width: 40rem; }
  .coc-pl .subtitle-block.cui {
    display: block;
    margin-bottom: 1.6875rem; }
    .coc-pl .subtitle-block.cui h1, .coc-pl .subtitle-block.cui h2, .coc-pl .subtitle-block.cui h3, .coc-pl .subtitle-block.cui h4, .coc-pl .subtitle-block.cui h5, .coc-pl .subtitle-block.cui h6 {
      color: #333;
      font-size: 1.4375rem;
      font-weight: 600;
      margin-bottom: 0.375rem; }
    .coc-pl .subtitle-block.cui hr {
      background: #333;
      border: 0;
      height: 0.1875rem;
      margin: 0; }
    @media (min-width: 576px) {
      .coc-pl .subtitle-block.cui h1, .coc-pl .subtitle-block.cui h2, .coc-pl .subtitle-block.cui h3, .coc-pl .subtitle-block.cui h4, .coc-pl .subtitle-block.cui h5, .coc-pl .subtitle-block.cui h6 {
        font-size: 1.75rem; } }
    @media (min-width: 768px) {
      .coc-pl .subtitle-block.cui {
        margin-bottom: 2.25rem; }
        .coc-pl .subtitle-block.cui h1, .coc-pl .subtitle-block.cui h2, .coc-pl .subtitle-block.cui h3, .coc-pl .subtitle-block.cui h4, .coc-pl .subtitle-block.cui h5, .coc-pl .subtitle-block.cui h6 {
          font-size: 1.875rem; }
        .coc-pl .subtitle-block.cui hr {
          height: 0.25rem; } }
    @media (min-width: 992px) {
      .coc-pl .subtitle-block.cui h1, .coc-pl .subtitle-block.cui h2, .coc-pl .subtitle-block.cui h3, .coc-pl .subtitle-block.cui h4, .coc-pl .subtitle-block.cui h5, .coc-pl .subtitle-block.cui h6 {
        font-size: 2rem; } }

/* -------------------------------------------------------
   Start of _text
   ------------------------------------------------------- */
p {
  max-width: 40rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2.25rem; }

p.text-center,
.text-center p {
  margin-right: auto;
  margin-left: auto; }

blockquote {
  max-width: 40rem;
  border-left: 0.1875rem solid #c8102e;
  color: #4b4f55;
  font-style: italic;
  margin-bottom: 1.6875rem;
  padding-left: 1.125rem; }
  blockquote cite {
    display: block;
    text-align: right;
    font-weight: 700;
    font-size: 0.875rem;
    font-style: normal;
    margin-top: 0.5625rem;
    text-transform: uppercase; }
    blockquote cite::before {
      content: '\2013\2009'; }
  @media (min-width: 768px) {
    blockquote {
      font-size: 1.0625rem; } }
  @media (min-width: 992px) {
    blockquote {
      font-size: 1.125rem; } }
  blockquote.lg {
    border-left: 0;
    font-size: 1.375rem;
    font-style: normal;
    margin-bottom: 2.25rem;
    padding-left: 0; }
    blockquote.lg::before {
      font-family: "cicon" !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e0a4";
      color: #c8102e;
      display: block;
      font-size: 2.25rem;
      margin-bottom: 0.5625rem; }
    blockquote.lg .quote::after {
      content: '\201D'; }
    @media (min-width: 576px) {
      blockquote.lg {
        padding-left: 5.625rem;
        position: relative; }
        blockquote.lg::before {
          font-size: 4.5rem;
          position: absolute;
          top: 0;
          left: 0; } }

.lead {
  font-size: 1.125rem;
  font-weight: normal; }
  @media (min-width: 768px) {
    .lead {
      font-size: 1.25rem; } }

.block-cta.cui {
  background: #ededee;
  border: 0.0625rem solid #dbdcdd;
  border-left: 0.25rem solid #c8102e;
  color: #333;
  margin: 0;
  padding: 0.5625rem; }
  .block-cta.cui a {
    font-weight: 600;
    text-decoration: none; }
    .block-cta.cui a:hover {
      text-decoration: underline; }

.small {
  font-size: 87.5%; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

mark {
  background: yellow; }

abbr[title],
dfn[title] {
  border-bottom: 0.0625rem dotted #000;
  cursor: help; }

hr {
  background: #ccc;
  border: 0;
  border-top: 0.0625rem solid #ccc;
  height: 0.0625rem;
  margin: 1.6875rem 0; }
  hr.row-divider {
    background: #ededee;
    border: 0.25rem solid #ededee;
    padding-top: 0;
    padding-bottom: 0; }

@media print {
  blockquote {
    border-left-color: #dbdcdd; }
  .block-cta.cui {
    background: transparent;
    border-left-color: #dbdcdd;
    border-width: 0 0 0 0.25rem;
    padding-top: 0;
    padding-bottom: 0; } }

/* -------------------------------------------------------
   Start of _links
   ------------------------------------------------------- */
a {
  color: #c8102e;
  outline-style: none;
  text-decoration: underline;
  transition-duration: 0.25s;
  transition-property: color;
  transition-timing-function: ease; }
  a:visited {
    color: #780519; }
  a:focus, a:hover {
    color: #e01233;
    text-decoration: none; }
  a:focus {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe;
    outline: 0; }

/* -------------------------------------------------------
   Start of _buttons
   ------------------------------------------------------- */
button.cui.primary, a.cui.primary {
  justify-content: center; }
  button.cui.primary .btn-wrapper, a.cui.primary .btn-wrapper {
    display: inline-flex;
    justify-content: center;
    width: 100%; }
    button.cui.primary .btn-wrapper .btn-text, a.cui.primary .btn-wrapper .btn-text {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      align-items: center; }

.cui[class*="btn"] {
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 0.125rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 0.5625rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  position: relative; }
  .cui[class*="btn"].primary {
    background: #fff;
    border-color: #c8102e;
    color: #191919;
    box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: inline-flex; }
    .cui[class*="btn"].primary:hover {
      box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].primary:active {
      box-shadow: inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].primary:focus {
      box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.15); }
    .cui[class*="btn"].primary:focus:hover {
      box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].primary:focus:active {
      box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].primary [class*="cicon"].right {
      background: #c8102e;
      color: #fff;
      position: relative;
      display: inline-flex;
      align-items: center; }
    .cui[class*="btn"].primary:hover {
      border-color: #af0f29;
      color: #333; }
      .cui[class*="btn"].primary:hover [class*="cicon"] {
        color: #af0f29;
        background: #fff; }
        .cui[class*="btn"].primary:hover [class*="cicon"].right {
          background: #af0f29;
          color: #fff; }
    .cui[class*="btn"].primary span ::before {
      align-items: center; }
    .cui[class*="btn"].primary:active {
      border-color: #a6192e; }
      .cui[class*="btn"].primary:active [class*="cicon"] {
        background: #fff;
        color: #a6192e; }
  .cui[class*="btn"].utility-btn, .cui[class*="btn"].utility-btn-solid {
    background: transparent;
    border-color: #4b4f55;
    color: #4b4f55;
    position: relative; }
    .cui[class*="btn"].utility-btn:hover, .cui[class*="btn"].utility-btn-solid:hover {
      box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].utility-btn:active, .cui[class*="btn"].utility-btn-solid:active {
      box-shadow: inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].utility-btn:focus:hover, .cui[class*="btn"].utility-btn-solid:focus:hover {
      box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].utility-btn:focus:active, .cui[class*="btn"].utility-btn-solid:focus:active {
      box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
    .cui[class*="btn"].utility-btn [class*="cicon"], .cui[class*="btn"].utility-btn-solid [class*="cicon"] {
      position: relative; }
      .cui[class*="btn"].utility-btn [class*="cicon"].left, .cui[class*="btn"].utility-btn-solid [class*="cicon"].left {
        padding-right: 0; }
      .cui[class*="btn"].utility-btn [class*="cicon"].right, .cui[class*="btn"].utility-btn-solid [class*="cicon"].right {
        padding-left: 0; }
    .cui[class*="btn"].utility-btn:hover, .cui[class*="btn"].utility-btn-solid:hover {
      background: #fff;
      border-color: #000;
      color: #000; }
    .cui[class*="btn"].utility-btn:active, .cui[class*="btn"].utility-btn-solid:active {
      background: #fff;
      border-color: #191919;
      color: #191919; }
  .cui[class*="btn"].utility-btn-solid {
    background: #fff; }
  .cui[class*="btn"].primary-text, .cui[class*="btn"].secondary-text {
    background: #f6f6f6;
    border-color: transparent;
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    text-decoration: underline; }
    .cui[class*="btn"].primary-text [class*="cicon"], .cui[class*="btn"].secondary-text [class*="cicon"] {
      display: inline-block; }
    .cui[class*="btn"].primary-text:hover, .cui[class*="btn"].primary-text:active, .cui[class*="btn"].secondary-text:hover, .cui[class*="btn"].secondary-text:active {
      background: #ededee;
      text-decoration: none; }
  .cui[class*="btn"].primary-text {
    color: #c8102e; }
  .cui[class*="btn"].secondary-text {
    color: #333; }
  .cui[class*="btn"].primary [class*="cicon"] {
    color: #c8102e;
    background: transparent;
    font-size: 100%;
    top: 0.0625rem; }
  .cui[class*="btn"].icon-only.primary {
    font-size: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem; }
    .cui[class*="btn"].icon-only.primary [class*="cicon"] {
      font-size: 1rem; }
    .cui[class*="btn"].icon-only.primary:hover {
      background: rgba(200, 16, 46, 0.8); }
    .cui[class*="btn"].icon-only.primary.btn-sm {
      width: 1.75rem;
      height: 1.75rem; }
    .cui[class*="btn"].icon-only.primary.btn-md [class*="cicon"] {
      font-size: 1.5rem; }
    .cui[class*="btn"].icon-only.primary.btn-lg {
      width: 3.125rem;
      height: 3.125rem; }
      .cui[class*="btn"].icon-only.primary.btn-lg [class*="cicon"] {
        font-size: 2rem; }
  .cui[class*="btn"].btn-mega {
    padding: 1.125rem;
    display: inline-grid; }
    .cui[class*="btn"].btn-mega .cimg {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .cui[class*="btn"].btn-mega .top {
      margin-bottom: 0.5625rem; }
    .cui[class*="btn"].btn-mega .bottom {
      margin-top: 0.5625rem; }
    .cui[class*="btn"].btn-mega [class*="icon"] {
      display: block !important;
      font-size: 2rem; }
  .cui[class*="btn"][disabled], .cui[class*="btn"].disabled {
    background: #dbdcdd;
    border-color: #a5a7aa;
    color: #939599;
    cursor: not-allowed;
    box-shadow: none;
    text-decoration: none; }
    .cui[class*="btn"][disabled]:hover, .cui[class*="btn"][disabled]:active, .cui[class*="btn"].disabled:hover, .cui[class*="btn"].disabled:active {
      background: #dbdcdd;
      border-color: #a5a7aa;
      color: #939599;
      box-shadow: none; }
      .cui[class*="btn"][disabled]:hover [class*="cicon"], .cui[class*="btn"][disabled]:active [class*="cicon"], .cui[class*="btn"].disabled:hover [class*="cicon"], .cui[class*="btn"].disabled:active [class*="cicon"] {
        color: #939599; }
    .cui[class*="btn"][disabled] [class*="cicon"], .cui[class*="btn"].disabled [class*="cicon"] {
      color: #939599; }

.cui.btn-block, .cui.btn-fluid {
  width: 100%; }
  .cui.btn-block.primary, .cui.btn-fluid.primary {
    margin-bottom: 12px !important; }
    .cui.btn-block.primary .btn-text, .cui.btn-fluid.primary .btn-text {
      width: 100%;
      justify-content: center; }
  .cui.btn-block [class*="cicon"].left, .cui.btn-fluid [class*="cicon"].left {
    justify-content: left;
    align-content: left; }
  .cui.btn-block [class*="cicon"].right, .cui.btn-fluid [class*="cicon"].right {
    justify-content: right;
    align-content: right; }

.cui.btn-sm {
  padding: 0.0625rem 0.5625rem; }
  .cui.btn-sm.primary [class*="cicon"].left {
    left: -0.6625rem; }
  .cui.btn-sm.primary [class*="cicon"].right {
    right: -0.6625rem;
    margin-top: -0.1875rem;
    margin-bottom: -0.0625rem; }
  .cui.btn-sm [class*="cicon"].left {
    padding: 0.375rem;
    left: -0.5625rem; }
  .cui.btn-sm [class*="cicon"].right {
    padding: 0.375rem;
    right: -0.5625rem; }

.cui.btn-md {
  padding: 0.313rem 0.5625rem; }
  .cui.btn-md.primary [class*="cicon"].left {
    left: -0.6625rem; }
  .cui.btn-md.primary [class*="cicon"].right {
    margin-top: -0.525rem;
    margin-bottom: -0.3375rem;
    right: -0.6625rem; }
  .cui.btn-md [class*="cicon"].left {
    padding: 0.5625rem;
    left: -0.5625rem; }
  .cui.btn-md [class*="cicon"].right {
    padding: 0.5625rem;
    right: -0.5625rem; }

.cui.btn-lg, .cui.btn-xl {
  border-width: 0.25rem; }

.cui.btn-lg {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  border-width: 0.25rem; }
  .cui.btn-lg.primary [class*="cicon"].left {
    left: -0.95rem; }
  .cui.btn-lg.primary [class*="cicon"].right {
    right: -0.95rem;
    margin-top: -0.59em;
    margin-bottom: -0.4rem; }
  .cui.btn-lg [class*="cicon"].left {
    padding: 0.75rem;
    left: -0.75rem; }
  .cui.btn-lg [class*="cicon"].right {
    padding: 0.75rem;
    right: -0.75rem; }

.cui.btn-xl {
  font-size: 1.375rem;
  font-weight: 700;
  padding: 0.4095em 1.125rem;
  border-width: 0.25rem; }
  .cui.btn-xl.primary [class*="cicon"].left {
    left: -1.325rem; }
  .cui.btn-xl.primary [class*="cicon"].right {
    right: -1.325rem;
    margin-top: -0.85rem;
    margin-bottom: -0.75rem; }
  .cui.btn-xl [class*="cicon"].left {
    padding: 1.125rem;
    left: -1.125rem; }
  .cui.btn-xl [class*="cicon"].right {
    padding: 1.125rem;
    right: -1.125rem; }

.cui.btn-form-control {
  border-width: 0.125rem !important;
  font-size: 1rem;
  padding: 0.5625rem 0.75rem; }

/* -------------------------------------------------------
   Start of _forms
   ------------------------------------------------------- */
.form-control {
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #b7b9bb;
  border-radius: 0.15625rem;
  color: #4c4c4c;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.875rem;
  padding: 0.625rem 0.75rem;
  width: 100%; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #ededee;
    opacity: 1; }
  .form-control:focus {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe;
    outline: 0; }

select.form-control[size], select.form-control[multiple] {
  height: auto; }

select.form-control:focus::-ms-value {
  color: #4c4c4c;
  background-color: #fff; }

textarea.form-control {
  height: auto; }

input[type="file"].form-control {
  height: auto !important; }

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
  line-height: 1.5; }

.form-check {
  display: block;
  padding-left: 1.3125rem;
  position: relative; }

.form-check-label {
  margin-bottom: 0; }

.form-check-input {
  margin-top: 0.25rem;
  margin-left: -1.3125rem;
  position: absolute; }
  .form-check-input:disabled ~ .form-check-label {
    color: #818388; }

.form-check-inline {
  align-items: center;
  display: inline-flex;
  margin-right: 0.5625rem;
  padding-left: 0; }
  .form-check-inline .form-check-input {
    margin-top: 0;
    margin-right: 0.375rem;
    margin-left: 0;
    position: static; }

label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.1875rem; }

.label-required {
  color: #a6192e;
  font-weight: 600; }

.form-text {
  color: #4c4c4c;
  display: block;
  font-size: 0.9375rem;
  margin-top: 0.1875rem;
  margin-bottom: 0; }

legend.form-text {
  font-weight: 400; }

.form-control-plaintext {
  background-color: transparent;
  border: solid transparent;
  border-width: 0.0625rem 0;
  display: block;
  line-height: 1.5;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100%; }

.form-section {
  margin-bottom: 2.25rem; }

.form-group {
  margin-bottom: 1.6875rem; }

fieldset legend {
  font-size: 1rem;
  font-weight: 600;
  width: auto; }

fieldset.bordered {
  border: 0.0625rem solid #b7b9bb;
  border-radius: 0.15625rem;
  padding: 0.75rem 1.125rem 1.125rem; }
  fieldset.bordered legend {
    padding-left: 0.375rem;
    padding-right: 0.375rem; }

@media (min-width: 768px) {
  .form-section {
    margin-bottom: 4.5rem; } }

.form-width-md {
  max-width: 30rem; }

.form-width-lg {
  max-width: 37.5rem; }

.input-width-sm {
  max-width: 7.5rem; }

.input-width-md {
  max-width: 15rem; }

.input-width-lg {
  max-width: 22.5rem; }

.form-control-wrapper {
  position: relative; }
  .form-control-wrapper .form-control {
    padding-right: 2.5rem; }
  .form-control-wrapper .btn-form-control {
    font-family: "cicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    border: 0;
    color: #666;
    font-size: 0.875rem;
    padding: 0.5625rem 0.5625rem;
    position: absolute;
    top: 0.4375rem;
    right: 0.375rem; }
    .form-control-wrapper .btn-form-control:hover {
      color: #000; }
    .form-control-wrapper .btn-form-control:focus {
      outline: none; }
  .form-control-wrapper .btn-form-control-clear {
    font-size: 0.5rem;
    font-weight: 700;
    top: 0.625rem; }
    .form-control-wrapper .btn-form-control-clear::before {
      content: '\e039'; }
  .form-control-wrapper .btn-form-control-show-pw::before {
    content: '\e074'; }
  .form-control-wrapper input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
  .form-control-wrapper input::-ms-clear,
  .form-control-wrapper input::-ms-reveal {
    display: none; }

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .form-inline label {
    margin-bottom: 0; }
  .form-inline .form-control,
  .form-inline .form-control-plaintext {
    display: inline-block;
    vertical-align: middle;
    width: auto; }

.form-control.valid {
  border-color: #009639; }
  .form-control.valid:focus {
    border-color: #009639;
    box-shadow: 0 0 0.1875rem 0.1875rem rgba(0, 150, 57, 0.3); }

.form-control.error {
  border-color: #a6192e; }
  .form-control.error:focus {
    border-color: #a6192e;
    box-shadow: 0 0 0.1875rem 0.1875rem rgba(166, 25, 46, 0.3); }

form .alert {
  border-width: 4px 4px 4px 2.25rem;
  border-style: solid;
  border-radius: 0;
  background: transparent;
  margin-bottom: 2.25rem;
  padding: 1.125rem; }
  form .alert::before {
    font-family: "cicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    margin-left: -2.75rem;
    position: absolute; }
  form .alert:focus {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe;
    outline: 0; }
  form .alert h2 {
    font-size: 1rem !important;
    font-weight: 700;
    margin-bottom: 0.75rem; }
  form .alert ul {
    margin-bottom: 0; }

form .alert-danger {
  border-color: #a6192e; }
  form .alert-danger::before {
    content: "\e07d"; }

.form-vld-msg {
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  color: #000;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 3px 9px;
  vertical-align: baseline;
  background: transparent;
  border-radius: 0;
  text-align: left;
  white-space: normal; }
  .form-vld-msg::before {
    font-family: "cicon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    padding-right: 3px; }
  .form-vld-msg.error {
    border-color: #a6192e; }
    .form-vld-msg.error::before {
      color: #a6192e;
      content: "\e07d"; }
  .form-vld-msg.valid {
    border-color: #009639; }
    .form-vld-msg.valid::before {
      color: #009639;
      content: "\e035"; }

.form-control.error + .form-vld-msg {
  position: relative;
  top: -0.0625rem; }

.form-check-input.error + .form-label-error {
  margin-right: 0.5625rem; }

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: default; }

/* -------------------------------------------------------
   Start of _images
   ------------------------------------------------------- */
img {
  height: auto;
  max-width: 100%; }
  img.float-left {
    margin-right: 0.5625rem;
    margin-bottom: 0.5625rem; }
  img.float-right {
    margin-left: 0.5625rem;
    margin-bottom: 0.5625rem; }
  @media (min-width: 768px) {
    img.float-left {
      margin-right: 1.125rem;
      margin-bottom: 1.125rem; }
    img.float-right {
      margin-left: 1.125rem;
      margin-bottom: 1.125rem; } }

/* -------------------------------------------------------
   Start of _colours
   ------------------------------------------------------- */
.coc-secondary .cui.utility-btn, .coc-secondary-1L .cui.utility-btn, .coc-secondary-2L .cui.utility-btn, .coc-black .cui.utility-btn, .coc-secondary-1D .cui.utility-btn, .coc-secondary-2D .cui.utility-btn, .coc-secondary-3D .cui.utility-btn, .coc-secondary-4D .cui.utility-btn {
  color: #fff !important; }
  .coc-secondary .cui.utility-btn:hover, .coc-secondary-1L .cui.utility-btn:hover, .coc-secondary-2L .cui.utility-btn:hover, .coc-black .cui.utility-btn:hover, .coc-secondary-1D .cui.utility-btn:hover, .coc-secondary-2D .cui.utility-btn:hover, .coc-secondary-3D .cui.utility-btn:hover, .coc-secondary-4D .cui.utility-btn:hover, .coc-secondary .cui.utility-btn:active, .coc-secondary-1L .cui.utility-btn:active, .coc-secondary-2L .cui.utility-btn:active, .coc-black .cui.utility-btn:active, .coc-secondary-1D .cui.utility-btn:active, .coc-secondary-2D .cui.utility-btn:active, .coc-secondary-3D .cui.utility-btn:active, .coc-secondary-4D .cui.utility-btn:active {
    color: #4b4f55 !important; }

.coc-secondary .cui.utility-btn, .coc-secondary-1L .cui.utility-btn, .coc-secondary-2L .cui.utility-btn, .coc-black .cui.utility-btn, .coc-secondary-1D .cui.utility-btn, .coc-secondary-2D .cui.utility-btn, .coc-secondary-3D .cui.utility-btn, .coc-secondary-4D .cui.utility-btn, .coc-secondary .cui.utility-btn-solid, .coc-secondary-1L .cui.utility-btn-solid, .coc-secondary-2L .cui.utility-btn-solid, .coc-black .cui.utility-btn-solid, .coc-secondary-1D .cui.utility-btn-solid, .coc-secondary-2D .cui.utility-btn-solid, .coc-secondary-3D .cui.utility-btn-solid, .coc-secondary-4D .cui.utility-btn-solid {
  border-color: #a5a7aa !important; }
  @media print {
    .coc-secondary .cui.utility-btn, .coc-secondary-1L .cui.utility-btn, .coc-secondary-2L .cui.utility-btn, .coc-black .cui.utility-btn, .coc-secondary-1D .cui.utility-btn, .coc-secondary-2D .cui.utility-btn, .coc-secondary-3D .cui.utility-btn, .coc-secondary-4D .cui.utility-btn, .coc-secondary .cui.utility-btn-solid, .coc-secondary-1L .cui.utility-btn-solid, .coc-secondary-2L .cui.utility-btn-solid, .coc-black .cui.utility-btn-solid, .coc-secondary-1D .cui.utility-btn-solid, .coc-secondary-2D .cui.utility-btn-solid, .coc-secondary-3D .cui.utility-btn-solid, .coc-secondary-4D .cui.utility-btn-solid {
      border-color: #4b4f55 !important;
      color: #4b4f55 !important; } }

.coc-transparent {
  background-color: transparent; }
  .coc-transparent:hover {
    background: #fff;
    color: #333; }
  .coc-transparent:focus {
    background: #fff; }

.coc-white {
  background-color: #fff;
  color: #333; }
  .coc-white[class*="cicon-"] {
    background-color: transparent;
    color: #fff; }

.coc-white-opacity {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000; }
  .coc-white-opacity[class*="cicon-"] {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9); }
  .coc-white-opacity a:not([class*="btn-"]) {
    color: #000; }

.coc-black-opacity {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; }
  .coc-black-opacity[class*="cicon-"] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8); }
  .coc-black-opacity a:not([class*="btn-"]) {
    color: #fff; }

.coc-main {
  background-color: #c8102e;
  color: #fff; }
  .coc-main[class*="cicon-"] {
    background-color: transparent;
    color: #c8102e; }
  .coc-main a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-red {
  background-color: #a6192e;
  color: #fff; }
  .coc-secondary-red[class*="cicon-"] {
    background-color: transparent;
    color: #a6192e; }
  .coc-secondary-red a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-green-safety {
  background-color: #009639;
  color: #000; }
  .coc-secondary-green-safety[class*="cicon-"] {
    background-color: transparent;
    color: #009639; }
  .coc-secondary-green-safety a:not([class*="btn-"]) {
    color: #000; }
  .coc-secondary-green-safety h1,
  .coc-secondary-green-safety h2,
  .coc-secondary-green-safety .h1,
  .coc-secondary-green-safety .h2 {
    color: #fff !important; }

.coc-secondary-green-pedestrian {
  background-color: #c4d600;
  color: #000; }
  .coc-secondary-green-pedestrian[class*="cicon-"] {
    background-color: transparent;
    color: #c4d600; }
  .coc-secondary-green-pedestrian a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-blue-access {
  background-color: #0057b8;
  color: #fff; }
  .coc-secondary-blue-access[class*="cicon-"] {
    background-color: transparent;
    color: #0057b8; }
  .coc-secondary-blue-access a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary {
  background-color: #4b4f55;
  color: #f6f6f6; }
  .coc-secondary[class*="cicon-"] {
    background-color: transparent;
    color: #4b4f55; }
  .coc-secondary a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-1L {
  background-color: #5d6066;
  color: #f6f6f6; }
  .coc-secondary-1L[class*="cicon-"] {
    background-color: transparent;
    color: #5d6066; }
  .coc-secondary-1L a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-2L {
  background-color: #6f7277;
  color: #fff; }
  .coc-secondary-2L[class*="cicon-"] {
    background-color: transparent;
    color: #6f7277; }
  .coc-secondary-2L a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-3L {
  background-color: #818388;
  color: #000; }
  .coc-secondary-3L[class*="cicon-"] {
    background-color: transparent;
    color: #818388; }
  .coc-secondary-3L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-4L {
  background-color: #939599;
  color: #000; }
  .coc-secondary-4L[class*="cicon-"] {
    background-color: transparent;
    color: #939599; }
  .coc-secondary-4L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-5L {
  background-color: #a5a7aa;
  color: #000; }
  .coc-secondary-5L[class*="cicon-"] {
    background-color: transparent;
    color: #a5a7aa; }
  .coc-secondary-5L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-6L {
  background-color: #b7b9bb;
  color: #000; }
  .coc-secondary-6L[class*="cicon-"] {
    background-color: transparent;
    color: #b7b9bb; }
  .coc-secondary-6L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-7L {
  background-color: #c9cacc;
  color: #333; }
  .coc-secondary-7L[class*="cicon-"] {
    background-color: transparent;
    color: #c9cacc; }
  .coc-secondary-7L a:not([class*="btn-"]) {
    color: #333; }

.coc-secondary-8L {
  background-color: #dbdcdd;
  color: #333; }
  .coc-secondary-8L[class*="cicon-"] {
    background-color: transparent;
    color: #dbdcdd; }
  .coc-secondary-8L a:not([class*="btn-"]) {
    color: #333; }

.coc-secondary-9L {
  background-color: #ededee;
  color: #333; }
  .coc-secondary-9L[class*="cicon-"] {
    background-color: transparent;
    color: #ededee; }
  .coc-secondary-9L a:not([class*="btn-"]) {
    color: #333; }

.coc-secondary-10L {
  background-color: #f6f6f6;
  color: #333; }
  .coc-secondary-10L[class*="cicon-"] {
    background-color: transparent;
    color: #f6f6f6; }
  .coc-secondary-10L a:not([class*="btn-"]) {
    color: #333; }

.coc-black {
  background-color: #000;
  color: #f6f6f6; }
  .coc-black[class*="cicon-"] {
    background-color: transparent;
    color: #000; }
  .coc-black a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-1D {
  background-color: #191919;
  color: #f6f6f6; }
  .coc-secondary-1D[class*="cicon-"] {
    background-color: transparent;
    color: #191919; }
  .coc-secondary-1D a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-2D {
  background-color: #333;
  color: #f6f6f6; }
  .coc-secondary-2D[class*="cicon-"] {
    background-color: transparent;
    color: #333; }
  .coc-secondary-2D a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-3D {
  background-color: #4c4c4c;
  color: #f6f6f6; }
  .coc-secondary-3D[class*="cicon-"] {
    background-color: transparent;
    color: #4c4c4c; }
  .coc-secondary-3D a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-4D {
  background-color: #666;
  color: #f6f6f6; }
  .coc-secondary-4D[class*="cicon-"] {
    background-color: transparent;
    color: #666; }
  .coc-secondary-4D a:not([class*="btn-"]) {
    color: #f6f6f6; }

.coc-secondary-5D {
  background-color: #7f7f7f;
  color: #000; }
  .coc-secondary-5D[class*="cicon-"] {
    background-color: transparent;
    color: #7f7f7f; }
  .coc-secondary-5D a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-6D {
  background-color: #999;
  color: #000; }
  .coc-secondary-6D[class*="cicon-"] {
    background-color: transparent;
    color: #999; }
  .coc-secondary-6D a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-7D {
  background-color: #b2b2b2;
  color: #000; }
  .coc-secondary-7D[class*="cicon-"] {
    background-color: transparent;
    color: #b2b2b2; }
  .coc-secondary-7D a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-8D {
  background-color: #ccc;
  color: #333; }
  .coc-secondary-8D[class*="cicon-"] {
    background-color: transparent;
    color: #ccc; }
  .coc-secondary-8D a:not([class*="btn-"]) {
    color: #333; }

.coc-secondary-9D {
  background-color: #e5e5e5;
  color: #333; }
  .coc-secondary-9D[class*="cicon-"] {
    background-color: transparent;
    color: #e5e5e5; }
  .coc-secondary-9D a:not([class*="btn-"]) {
    color: #333; }

.coc-secondary-orange {
  background-color: #e57200;
  color: #000; }
  .coc-secondary-orange[class*="cicon-"] {
    background-color: transparent;
    color: #e57200; }
  .coc-secondary-orange a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-orange-L {
  background-color: #ed8b00;
  color: #000; }
  .coc-secondary-orange-L[class*="cicon-"] {
    background-color: transparent;
    color: #ed8b00; }
  .coc-secondary-orange-L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-orange-D {
  background-color: #dc4405;
  color: #000; }
  .coc-secondary-orange-D[class*="cicon-"] {
    background-color: transparent;
    color: #dc4405; }
  .coc-secondary-orange-D a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-yellow {
  background-color: #ffc600;
  color: #000; }
  .coc-secondary-yellow[class*="cicon-"] {
    background-color: transparent;
    color: #ffc600; }
  .coc-secondary-yellow a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-yellow-L {
  background-color: #fedb00;
  color: #000; }
  .coc-secondary-yellow-L[class*="cicon-"] {
    background-color: transparent;
    color: #fedb00; }
  .coc-secondary-yellow-L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-yellow-D {
  background-color: #f2a900;
  color: #000; }
  .coc-secondary-yellow-D[class*="cicon-"] {
    background-color: transparent;
    color: #f2a900; }
  .coc-secondary-yellow-D a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-green {
  background-color: #4c8c2b;
  color: #000; }
  .coc-secondary-green[class*="cicon-"] {
    background-color: transparent;
    color: #4c8c2b; }
  .coc-secondary-green a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-green-L {
  background-color: #78be20;
  color: #000; }
  .coc-secondary-green-L[class*="cicon-"] {
    background-color: transparent;
    color: #78be20; }
  .coc-secondary-green-L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-green-D {
  background-color: #44693d;
  color: #fff; }
  .coc-secondary-green-D[class*="cicon-"] {
    background-color: transparent;
    color: #44693d; }
  .coc-secondary-green-D a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-blue {
  background-color: #0085ad;
  color: #000; }
  .coc-secondary-blue[class*="cicon-"] {
    background-color: transparent;
    color: #0085ad; }
  .coc-secondary-blue a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-blue-L {
  background-color: #00a3e0;
  color: #000; }
  .coc-secondary-blue-L[class*="cicon-"] {
    background-color: transparent;
    color: #00a3e0; }
  .coc-secondary-blue-L a:not([class*="btn-"]) {
    color: #000; }

.coc-secondary-blue-D {
  background-color: #005670;
  color: #fff; }
  .coc-secondary-blue-D[class*="cicon-"] {
    background-color: transparent;
    color: #005670; }
  .coc-secondary-blue-D a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-dark-blue {
  background-color: #003865;
  color: #fff; }
  .coc-secondary-dark-blue[class*="cicon-"] {
    background-color: transparent;
    color: #003865; }
  .coc-secondary-dark-blue a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-dark-blue-L {
  background-color: #006298;
  color: #fff; }
  .coc-secondary-dark-blue-L[class*="cicon-"] {
    background-color: transparent;
    color: #006298; }
  .coc-secondary-dark-blue-L a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-dark-blue-D {
  background-color: #041e42;
  color: #fff; }
  .coc-secondary-dark-blue-D[class*="cicon-"] {
    background-color: transparent;
    color: #041e42; }
  .coc-secondary-dark-blue-D a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-purple {
  background-color: #642f6c;
  color: #fff; }
  .coc-secondary-purple[class*="cicon-"] {
    background-color: transparent;
    color: #642f6c; }
  .coc-secondary-purple a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-purple-L {
  background-color: #93328e;
  color: #fff; }
  .coc-secondary-purple-L[class*="cicon-"] {
    background-color: transparent;
    color: #93328e; }
  .coc-secondary-purple-L a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-purple-D {
  background-color: #3c1053;
  color: #fff; }
  .coc-secondary-purple-D[class*="cicon-"] {
    background-color: transparent;
    color: #3c1053; }
  .coc-secondary-purple-D a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-pink {
  background-color: #ac145a;
  color: #fff; }
  .coc-secondary-pink[class*="cicon-"] {
    background-color: transparent;
    color: #ac145a; }
  .coc-secondary-pink a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-pink-L {
  background-color: #ce0f69;
  color: #fff; }
  .coc-secondary-pink-L[class*="cicon-"] {
    background-color: transparent;
    color: #ce0f69; }
  .coc-secondary-pink-L a:not([class*="btn-"]) {
    color: #fff; }

.coc-secondary-pink-D {
  background-color: #6c1d45;
  color: #fff; }
  .coc-secondary-pink-D[class*="cicon-"] {
    background-color: transparent;
    color: #6c1d45; }
  .coc-secondary-pink-D a:not([class*="btn-"]) {
    color: #fff; }

@media print {
  [class*="coc-"] {
    background-color: transparent !important;
    color: #000 !important; }
    [class*="coc-"] a:not([class*="btn-"]) {
      color: #000 !important; } }

/* -------------------------------------------------------
   Start of _svg-images
   ------------------------------------------------------- */
.cimg {
  display: inline-block;
  font-size: 4rem;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke-width: 0;
  stroke: currentColor; }
  .cimg path {
    fill: currentColor;
    stroke-width: 0;
    stroke: currentColor; }

.cimg-lg {
  font-size: 8rem; }

/* -------------------------------------------------------
   Start of _utilities
   ------------------------------------------------------- */
.bg-white {
  background: #fff !important; }

.bg-light {
  background: #f6f6f6 !important; }

.bg-medium {
  background: #ededee !important; }

.bg-dark {
  background: #dbdcdd !important; }

.bg-transparent {
  background: transparent !important; }

.bg-darkest {
  background: #4b4f55 !important;
  color: #fff; }

@media print {
  .bg-medium,
  .bg-light {
    background: transparent !important; } }

.border-transparent {
  border: 0.0625rem solid transparent !important; }

.border-light {
  border: 0.0625rem solid #ededee !important; }

.border-medium {
  border: 0.0625rem solid #dbdcdd !important; }

.border-dark {
  border: 0.0625rem solid #c9cacc !important; }

@media print {
  .border-light,
  .border-medium,
  .border-dark {
    border-color: #dbdcdd !important; } }

.text-large {
  font-size: 1.125rem; }

.text-larger {
  font-size: 1.25rem; }

@media (min-width: 992px) {
  .text-large-lg {
    font-size: 1.125rem; } }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.set-max-width {
  max-width: 40rem; }

.set-focus:focus {
  box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe; }

.m-0 {
  margin: 0 !important; }

.mt-xxs {
  margin-top: 0.5625rem !important; }

.mt-xs {
  margin-top: 0.75rem !important; }

.mt-sm {
  margin-top: 1.125rem !important; }

.mt-md {
  margin-top: 1.6875rem !important; }

.mt-lg {
  margin-top: 2.25rem !important; }

.mt-xl {
  margin-top: 3.375rem !important; }

.mt-xxl {
  margin-top: 4.5rem !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-xxs {
  margin-right: 0.5625rem !important; }

.mr-xs {
  margin-right: 0.75rem !important; }

.mr-sm {
  margin-right: 1.125rem !important; }

.mr-md {
  margin-right: 1.6875rem !important; }

.mr-lg {
  margin-right: 2.25rem !important; }

.mr-xl {
  margin-right: 3.375rem !important; }

.mr-xxl {
  margin-right: 4.5rem !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-xxs {
  margin-bottom: 0.5625rem !important; }

.mb-xs {
  margin-bottom: 0.75rem !important; }

.mb-sm {
  margin-bottom: 1.125rem !important; }

.mb-md {
  margin-bottom: 1.6875rem !important; }

.mb-lg {
  margin-bottom: 2.25rem !important; }

.mb-xl {
  margin-bottom: 3.375rem !important; }

.mb-xxl {
  margin-bottom: 4.5rem !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-responsive {
  margin-bottom: 0.5625rem !important; }
  @media (min-width: 576px) {
    .mb-responsive {
      margin-bottom: 1.125rem !important; } }
  @media (min-width: 768px) {
    .mb-responsive {
      margin-bottom: 1.6875rem !important; } }
  @media (min-width: 992px) {
    .mb-responsive {
      margin-bottom: 2.25rem !important; } }
  @media (min-width: 1200px) {
    .mb-responsive {
      margin-bottom: 3.375rem !important; } }

.ml-xxs {
  margin-left: 0.5625rem !important; }

.ml-xs {
  margin-left: 0.75rem !important; }

.ml-sm {
  margin-left: 1.125rem !important; }

.ml-md {
  margin-left: 1.6875rem !important; }

.ml-lg {
  margin-left: 2.25rem !important; }

.ml-xl {
  margin-left: 3.375rem !important; }

.ml-xxl {
  margin-left: 4.5rem !important; }

.ml-0 {
  margin-left: 0 !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.pad-xxs,
.p-xxs {
  padding: 0.5625rem !important; }

.pad-xs,
.p-xs {
  padding: 0.75rem !important; }

.pad-sm,
.p-sm {
  padding: 1.125rem !important; }

.pad-md,
.p-md {
  padding: 1.6875rem !important; }

.pad-lg,
.p-lg {
  padding: 2.25rem !important; }

.pad-xl,
.p-xl {
  padding: 3.375rem !important; }

.pad-xxl,
.p-xxl {
  padding: 4.5rem !important; }

.p-0 {
  padding: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.py-xxs {
  padding-top: 0.5625rem !important;
  padding-bottom: 0.5625rem !important; }

.py-xs {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important; }

.py-sm {
  padding-top: 1.125rem !important;
  padding-bottom: 1.125rem !important; }

.py-md {
  padding-top: 1.6875rem !important;
  padding-bottom: 1.6875rem !important; }

.py-lg {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important; }

.py-xl {
  padding-top: 3.375rem !important;
  padding-bottom: 3.375rem !important; }

.py-xxl {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important; }

.pr-xxs {
  padding-right: 0.5625rem !important; }

.pr-xs {
  padding-right: 0.75rem !important; }

.pr-sm {
  padding-right: 1.125rem !important; }

.pr-md {
  padding-right: 1.6875rem !important; }

.pr-lg {
  padding-right: 2.25rem !important; }

.pr-xl {
  padding-right: 3.375rem !important; }

.pr-xxl {
  padding-right: 4.5rem !important; }

.cui-width-100 {
  width: 100% !important; }

.cui-width-75 {
  width: 75% !important; }

.cui-width-50 {
  width: 50% !important; }

.cui-width-25 {
  width: 25% !important; }

.cui-height-100 {
  height: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-single-narrow {
  min-height: 1px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  position: relative;
  width: 100%; }
  @media (min-width: 576px) {
    .col-single-narrow {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
      margin-left: 4.16667%; } }
  @media (min-width: 768px) {
    .col-single-narrow {
      flex: 0 0 75%;
      max-width: 75%;
      margin-left: 12.5%; } }
  @media (min-width: 992px) {
    .col-single-narrow {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      margin-left: 16.66667%; } }
  @media (min-width: 1200px) {
    .col-single-narrow {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
      margin-left: 20.83333%; } }

.edge-to-edge {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.list-unstyled {
  margin: 0;
  padding: 0; }
  .list-unstyled li {
    list-style: none; }

[class*="col-count-"] {
  column-gap: 1.875rem; }
  [class*="col-count-"] li,
  [class*="col-count-"] dt,
  [class*="col-count-"] dd {
    break-inside: avoid; }

.col-count-2 {
  column-count: 2; }

.col-count-3 {
  column-count: 3; }

@media (min-width: 768px) {
  .col-count-md-2 {
    column-count: 2; }
  .col-count-md-3 {
    column-count: 3; } }

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block; }

.bg-contain {
  background-size: contain; }

.ratio-custom-sm {
  height: 16.875rem; }

.ratio-custom-md {
  height: 21.875rem; }

.ratio-custom-lg {
  height: 30rem; }

@media (max-width: 575px) {
  .ratio-custom-sm,
  .ratio-custom-md,
  .ratio-custom-lg {
    padding-bottom: 56.25%;
    height: 0; } }

.ratio-16x9 {
  padding-bottom: 56.25%; }

.ratio-4x3 {
  padding-bottom: 75%; }

.ratio-3x4 {
  padding-bottom: 133.33%; }

.ratio-1x1 {
  padding-bottom: 100%; }

.bg-pos-x-left {
  background-position-x: left !important; }

.bg-pos-x-center {
  background-position-x: center !important; }

.bg-pos-x-right {
  background-position-x: right !important; }

.bg-pos-y-top {
  background-position-y: top !important; }

.bg-pos-y-center {
  background-position-y: center !important; }

.bg-pos-y-bottom {
  background-position-y: bottom !important; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.hidden {
  display: none !important; }

.d-inline {
  display: inline !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.d-table {
  display: table !important; }

.d-none {
  display: none !important; }

@media (min-width: 576px) {
  .d-sm-inline {
    display: inline !important; }
  .d-sm-inline-block {
    display: inline-block !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-flex {
    display: flex !important; }
  .d-sm-table {
    display: table !important; }
  .d-sm-none {
    display: none !important; } }

@media (min-width: 768px) {
  .d-md-inline {
    display: inline !important; }
  .d-md-inline-block {
    display: inline-block !important; }
  .d-md-block {
    display: block !important; }
  .d-md-flex {
    display: flex !important; }
  .d-md-table {
    display: table !important; }
  .d-md-none {
    display: none !important; } }

@media (min-width: 992px) {
  .d-lg-inline {
    display: inline !important; }
  .d-lg-inline-block {
    display: inline-block !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-flex {
    display: flex !important; }
  .d-lg-table {
    display: table !important; }
  .d-lg-none {
    display: none !important; } }

@media (min-width: 1200px) {
  .d-xl-inline {
    display: inline !important; }
  .d-xl-inline-block {
    display: inline-block !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-flex {
    display: flex !important; }
  .d-xl-table {
    display: table !important; }
  .d-xl-none {
    display: none !important; } }

/* -------------------------------------------------------
   Start of _card
   ------------------------------------------------------- */
.row-equal-height-cards {
  display: flex;
  flex-wrap: wrap; }
  .row-equal-height-cards > [class*="col-"] {
    display: flex; }
  .row-equal-height-cards .cui.card .card-media img {
    flex-shrink: 0; }

.cui.card {
  background: #fff;
  border: 0.0625rem solid #dbdcdd;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
  width: 100%; }
  .cui.card.light {
    background: #f6f6f6; }
  .cui.card.with-icon [class*="cicon-"] {
    font-size: 1.5rem; }
    @media (min-width: 768px) {
      .cui.card.with-icon [class*="cicon-"] {
        font-size: 2rem; } }
  .cui.card.with-icon .card-body {
    padding-top: 0.5625rem; }
  .cui.card.with-data .name {
    display: block;
    font-weight: 700; }
    .cui.card.with-data .name [class*="cicon-"] {
      font-size: 2rem;
      margin-right: 0.5625rem;
      vertical-align: middle; }
  .cui.card.with-data .value {
    color: #333;
    display: block;
    font-size: 300%;
    line-height: 1.3; }
  .cui.card.with-data .card-body {
    padding-top: 0.5625rem; }
  .cui.card .card-media {
    flex-shrink: 0; }
    .cui.card .card-media.spaced {
      padding: 1.125rem 1.125rem 0; }
  .cui.card .background-image,
  .cui.card .video-container {
    border-bottom: 0.0625rem solid #dbdcdd; }
  .cui.card .background-image,
  .cui.card .btn-video {
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    overflow: hidden; }
  .cui.card .background-image {
    position: relative; }
    .cui.card .background-image.ratio-16x9 {
      padding-bottom: 56.25%; }
    .cui.card .background-image.ratio-4x3 {
      padding-bottom: 75%; }
    .cui.card .background-image.ratio-3x4 {
      padding-bottom: 133.33%; }
    .cui.card .background-image.ratio-1x1 {
      padding-bottom: 100%; }
  .cui.card .video-container {
    display: flex;
    height: 0;
    padding-bottom: 56.25%;
    position: relative; }
    .cui.card .video-container .btn-video {
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%; }
    .cui.card .video-container .video-thumbnail {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%; }
      .cui.card .video-container .video-thumbnail::before {
        background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20448%22%3E%3Cstyle%3E.st1%7Bfill%3A%23fff%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M360%20224c0-24.7-6.1-47.4-18.2-68.3s-28.7-37.3-49.5-49.5C271.4%2094.1%20248.7%2088%20224%2088c-24.7%200-47.4%206.1-68.3%2018.2s-37.3%2028.7-49.5%2049.5S88%20199.3%2088%20224c0%2024.7%206.1%2047.4%2018.2%2068.3s28.7%2037.3%2049.5%2049.5C176.5%20354%20199.3%20360%20224%20360c24.7%200%2047.4-6.1%2068.3-18.2%2020.8-12.2%2037.3-28.7%2049.5-49.5S360%20248.7%20360%20224z%22%20opacity%3D%22.8%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M206.2%20267.3v-86.5c0-1.7.6-3.1%201.9-4.3%201.2-1.2%202.7-1.9%204.3-1.9s3.1.6%204.3%201.9l43.3%2043.3c1.2%201.2%201.9%202.7%201.9%204.3s-.6%203.1-1.9%204.3l-43.3%2043.3c-1.2%201.2-2.7%201.9-4.3%201.9s-3.1-.6-4.3-1.9c-1.3-1.3-1.9-2.8-1.9-4.4z%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22M360%20224c0-24.7-6.1-47.4-18.2-68.3s-28.7-37.3-49.5-49.5C271.4%2094.1%20248.7%2088%20224%2088c-24.7%200-47.4%206.1-68.3%2018.2s-37.3%2028.7-49.5%2049.5S88%20199.3%2088%20224c0%2024.7%206.1%2047.4%2018.2%2068.3s28.7%2037.3%2049.5%2049.5C176.5%20354%20199.3%20360%20224%20360c24.7%200%2047.4-6.1%2068.3-18.2%2020.8-12.2%2037.3-28.7%2049.5-49.5S360%20248.7%20360%20224zm30%200c0%2030.1-7.4%2057.9-22.3%2083.3-14.8%2025.4-35%2045.6-60.4%2060.4-25.4%2014.9-53.2%2022.3-83.3%2022.3s-57.9-7.4-83.3-22.3c-25.4-14.8-45.6-35-60.4-60.4S58%20254.1%2058%20224c0-30.1%207.4-57.9%2022.3-83.3s35-45.6%2060.4-60.4S193.9%2058%20224%2058c30.1%200%2057.9%207.4%2083.3%2022.3%2025.4%2014.8%2045.6%2035%2060.4%2060.4%2014.9%2025.4%2022.3%2053.2%2022.3%2083.3z%22%2F%3E%3C%2Fsvg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 4.5rem 4.5rem;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%; }
    .cui.card .video-container iframe {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .cui.card img:not(.cimg) {
    width: 100%; }
  .cui.card .card-body {
    flex: 1 1 auto;
    padding: 1.125rem; }
  .cui.card .card-context-title {
    color: #4b4f55;
    display: block;
    font-size: 0.9375rem;
    margin-bottom: 0.5625rem; }
  .cui.card .card-title {
    color: #333;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.5625rem; }
    @media (min-width: 576px) {
      .cui.card .card-title {
        font-size: 1.3125rem; } }
    @media (min-width: 768px) {
      .cui.card .card-title {
        font-size: 1.375rem; } }
    @media (min-width: 992px) {
      .cui.card .card-title {
        font-size: 1.4375rem; } }
  .cui.card p {
    margin-bottom: 1.125rem; }
    .cui.card p:last-child {
      margin-bottom: 0; }
  .cui.card .card-footer {
    background: transparent;
    border: 0;
    padding: 0 1.125rem 1.125rem; }

a.cui.card {
  box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.15);
  color: inherit;
  text-decoration: none;
  transition-property: box-shadow; }
  a.cui.card:hover {
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
  a.cui.card:active {
    box-shadow: inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
  a.cui.card:focus:hover {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, 0 0.25rem 1.25rem rgba(0, 0, 0, 0.25); }
  a.cui.card:focus:active {
    box-shadow: 0 0 0.1875rem 0.1875rem #60bbfe, inset 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.25); }
  a.cui.card .card-title,
  a.cui.card.with-data .value {
    color: #c8102e;
    transition: color 0.25s ease; }
  a.cui.card.light {
    transition-property: background, box-shadow; }
    a.cui.card.light:hover {
      background: #fff; }
  a.cui.card.with-data {
    border-color: #c8102e;
    border-width: 0.125rem; }
  a.cui.card:hover .card-title,
  a.cui.card:hover.with-data .value {
    color: #e01233; }

@media print {
  .cui.card {
    border: 0;
    border-bottom: 0.0625rem solid #dbdcdd;
    border-radius: 0;
    padding: 0 0 1.125rem 0; }
    .cui.card .card-media {
      border-bottom: 0; }
      .cui.card .card-media img {
        margin-right: 1.125rem;
        width: 200px; }
    .cui.card .card-body {
      padding: 0; }
    .cui.card .card-footer {
      padding: 0;
      margin-top: 0.5625rem; }
    .cui.card .video-container,
    .cui.card .background-image {
      display: none; } }

/* -------------------------------------------------------
   Override the sum total style
   Used on myLearning
   ------------------------------------------------------- */
.coc-logo-mobile {
  width: 58px; }

.coc-logo-desktop {
  display: none; }

h1,
h2 {
  text-transform: inherit !important; }

.exit-btn.cui.btn-sm.secondary-text {
  position: absolute;
  right: 2.25rem;
  top: 1.6875rem; }

.sumt-btn-default {
  border: none; }
  .sumt-btn-default:hover {
    background-color: #fff;
    color: #4c4c4c; }

@media (min-width: 768px) {
  .coc-logo-mobile {
    display: none; }
  .coc-logo-desktop {
    display: block;
    width: 144px;
    margin-left: 1.125rem; } }

@media (max-width: 767px) {
  .exit-btn {
    right: 1.125rem; } }

@media (max-width: 1023px) {
  .coc-pl {
    margin-top: 1.0625rem; } }

.row-equal-height-cards .cui.card .card-media img {
  width: auto; }

/* -------------------------------------------------------
   Start of _print
   ------------------------------------------------------- */
@media print {
  body {
    min-width: 992px !important; }
  .no-print {
    display: none; }
  *,
  *::before,
  *::after {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: none; }
  thead {
    display: table-header-group; }
  tr,
  img,
  pre {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  img {
    max-width: 100% !important; }
  abbr[title]::after {
    content: " (" attr(title) ")"; } }
