<!--pattern library basic stylesheet-->
<!--link rel="stylesheet" href="/Core/71.sumtfile?IsInline=true" /-->
<link rel="stylesheet" href="/Core/74.sumtfile?IsInline=true" />
<div class="coc-pl">
    <div class="row">
        <div class="col-xs-12">
            <img class="mb-lg coc-logo-desktop" src="/Core/18.sumtfile" alt="City of Calgary" />
            <img class="mb-lg coc-logo-mobile" src="/Core/32.sumtfile" alt="City of Calgary" />
            <a class="cui btn-sm secondary-text exit-btn" href="/Broker/Public/LogOff.aspx?wtrealm=https%3a%2f%2fCALGARY.stage.sumtotal.host%2fcore%2f&wreply=&wctx=&_BN=&_BPN=&_BId=&whr=sumtotal&postlogoffurl=&IsEmulationMode=0">Exit </a>
        </div>
    </div>
    <div class="container">
        <div class="row row-equal-height-cards mb-responsive">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a class="cui card" href="/core/continuousfeedback/dashboard">
                    <div class="card-media spaced" aria-hidden="true">
                        <div class="card-demo-cimg">
                            <img class="cimg" src="/Core/79.sumtfile" alt="">
                        </div>       
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Ongoing Conversations</h2>
                            <p>Track 1:1 conversations with your leader and request feedback from your peers</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>                
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a class="cui card" href="/core/pillarRedirect?relyingParty=TM&url=https:%2F%2FCALGARY.stage.sumtotal.host%2Fscripts%2Flightyearisapi.dll%3Fmatrixgoallist%26sdatanavid%3Dmygoals%26sdatanavroot%3D1%26sdatanavnmcd%3D61428%26sdatatypcd%3D5005%26sdataaction%3Dview%26matrixgoallist_sortcolumn%3Dsdb_matrixgoal_goaldesctxt%26matrixgoallist_sortorder%3DASC%26employeepicker%3Dportalgroupid%253dperformance%2526portalitemid%253dmygoals">
                    <div class="card-media spaced" aria-hidden="true">
                        <div class="card-demo-cimg">
                            <img class="cimg" src="/Core/80.sumtfile" alt="">
                        </div>       
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Goals</h2>
                            <p>Review, update and add new goals at anytime</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>                  
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a class="cui card" href="/core/devplan">
                    <div class="card-media spaced" aria-hidden="true">
                        <div class="card-demo-cimg">
                            <img class="cimg" src="/Core/78.sumtfile" alt="">
                        </div>       
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Development Plan</h2>
                            <p>Review, update and add tasks and objectives to your development plan.</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>                   
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <a class="cui card" href="/core/search">
                    <div class="card-media spaced" aria-hidden="true">
                        <div class="card-demo-cimg">
                            <img class="cimg" src="/Core/60.sumtfile" alt="">
                        </div>       
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Search and Register for Courses</h2>
                            <p>Look for a course, register for an available offering or start a course online.</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>                
            </div>                                    
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <a class="cui btn-md utility-btn-solid btn-fluid" href="/core/dash/learning">Upcoming learning activities</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="cui btn-md utility-btn-solid btn-fluid" href="/core/pillarRedirect?relyingParty=LM&url=https:%2F%2FCALGARY.stage.sumtotal.host%2Flearning%2Fapp%2Fmanagement%2FLMS_LearnerReports.aspx%3FUserMode%3D0%26Mode%3D1 ">Learning history</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="cui btn-md utility-btn-solid btn-fluid" href="/core/person/resume">Track skills & education</a>
            </div>
            <div class="col-xs-12 col-md-3">
                <a class="cui btn-md utility-btn-solid btn-fluid" href="/core/pillarRedirect?relyingParty=TM&url=https:%2F%2FCALGARY.stage.sumtotal.host%2Fscripts%2Flightyearisapi.dll%3Ftasklst%26crit_taskview_modulecd%3Dperformance%26ttlnmcd%3D12507%26employeepicker%3Dportalgroupid%253dperformance%2526portalitemid%253dmyassessments ">Performance Form</a>
            </div>            
        </div>
    </div>
</div>